{
  "presets": [
      [
          "env", 
          { "modules": false }
      ], 
      "react"
  ],
  "env": {
      "test": {
        "presets": [
            [
                "env", 
                { "modules": "commonjs" }
            ], 
            "react"
        ],
        "plugins": [
              "babel-plugin-transform-object-rest-spread",
              ["transform-react-jsx", {
                  "pragma": "dom"
              }]
          ]
      }
  },
  "plugins": [
      "babel-plugin-transform-object-rest-spread",
      ["transform-react-jsx", {
          "pragma": "dom"
      }]
  ]
}
