language: node_js
dist: trusty
sudo: required
node_js: 8.8
install:
  - npm install
  - npm install codecov
script:
  - npm start
after_success:
  - ./node_modules/.bin/codecov -e TRAVIS_NODE_VERSION -f coverage/coverage.json
